.end-font{
  font-size: 18px;
  /* padding: 0 20px;
  margin: 0 -20px; */
}

.navbar-expand-lg .navbar-collaps-2 {
  display: flex !important;
  flex-basis: auto;
  justify-content: flex-start;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x) !important;
  padding-left: var(--bs-navbar-nav-link-padding-x) !important;
  padding-top: 15px !important;
  color: white;
}


.navbar-expand-lg .navbar-nav .nav-link2 {
  padding-right: var(--bs-navbar-nav-link-padding-x) !important;
  padding-left: var(--bs-navbar-nav-link-padding-x) !important;
  color: white;
}

.custom-dialog-panel {
  background-color: #1d1a1a; /* Set your desired background color */
  color: #f2f0f0; /* Optional: Set text color */
  padding: 20px; /* Optional: Set padding */
  border-radius: 8px; /* Optional: Set border radius */
}
