/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
html,
body,
#app {
  height: 100%;
  margin: 0;
}


html,
body {
  height: 100%;
  overflow: hidden; 
}

body {
  margin: 0;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, div {
  font-family: 'Noto Sans Thai Looped', sans-serif !important;
}

.mdc-dialog--open .mat-mdc-dialog-surface,
.mdc-dialog--closing .mat-mdc-dialog-surface {
  transform: none !important;
  padding: 16px !important;
  background-color: #1f2834;
  color: white;
}

.mat-mdc-dialog-surface {
  height: auto !important; 
  
}


.mdc-dialog--open .mat-mdc-dialog-inner-container {
  opacity: 1;
  background: #1f2834;
  border-radius: 10px;
}

.mat-mdc-dialog-content {
  max-height: 70vh !important;
}

