mat-dialog-content {
    display: flex;
    flex-direction: column;
  }

  .dialog-container {
    position: relative;
    /* border-radius: 20px;  */
    overflow: hidden;
    /* background: white; */
    /* padding: 20px; */
    width: 100%;
    max-width: 450px; /* Adjust the width as necessary */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
    /* height: 100%; */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  
  
  h4, h5 {
    margin: 0;
    color: white;
    padding-bottom: 10px;
  }
  
  .photo-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .photo {
    width: 90%; /* Adjust the width as needed */
    height: 200px;
    margin-right: 10px;
  }

  .photo-item img {
    width: 100px;
    height: auto;
  }
  .photo-text {
    display: flex;
    flex-direction: column;
  }
  
  .health-status {
    color: green;
  }
  
  .photo-gallery {
    display: flex;
    flex-direction: column;
  }

  .summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  span{
    color: white  ;
    /* padding-left: 10px; */
  }

  p {
    color: white  ;
    padding-left: 10px;
    font-size: medium;
  }

  .cam-button {
    background-color: #4b848e; /* Button background color */
    color: #ffffff; /* Text color */
    border: none; /* Remove default border */
    /* border-radius: 5px; Rounded corners */
    padding: 5px 10px; /* Padding for the button */
    font-size: 14px; /* Font size */
    cursor: pointer; /* Cursor style on hover */
    display: inline-block; /* Inline-block display */
  }