.end-font {
  font-size: 25px;
}

.navbar-expand-lg .navbar-collaps-2 {
  display: flex !important;
  flex-basis: auto;
  justify-content: flex-start;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: white;
}

.nav-link {
  cursor: pointer !important;
  text-transform: uppercase;
}

.nav-link:hover {
  background-color: #555;
  color: #fff;
}

.nav-item.active .nav-link {
  background-color: #58564a;
  color: #fff;
}

.icon-side {
  width: 25px;
  height: 25px;
}

.icon-top {
  width: 27px;
  height: 27px;
}

.icon-side-2 {
  width: 20px;
  height: 20px;
}

.dropdown-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #a7f1e1;
}

.dropdown-container i {
  margin-left: 10px;
}

.dropdown-menu {
  position: absolute;
  background-color: #2e3b4e;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu a {
  color: #a7f1e1;
  text-decoration: none;
}

.dropdown-menu a:hover {
  text-decoration: underline;
}

.space-line {
  padding-inline: 20px !important;
}
