<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 15px">
  <a class="navbar-brand" href="#"><i class="fa-solid fa-shield-halved"></i> ARMYSENSE</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item"  [routerLink]="'/'" (click)="setCloseAll()">
        <a class="nav-link" ><img class="icon-side" src="assets/icons/sensor.png" alt="Sensor"> &nbsp; Live Monitoring</a>
      </li>
      <li class="nav-item" [routerLink]="'/drone-patrol' "(click)="setCloseAll()">
        <a class="nav-link" ><img class="icon-side-2" src="assets/icons/drone.png" alt="Sensor"> &nbsp; Drone Patrol</a>
        <!-- <mat-icon svgIcon="drone"></mat-icon>  -->
      </li>
      <li class="nav-item">
        <a class="nav-link" ><img class="icon-side" style="margin-top: -5px;" src="assets/icons/laptop-analytic.png" alt="Sensor"> &nbsp; Summary</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collaps-2 " id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="'/map-editor'" (click)="setCloseAll()">
          <i class="fa-solid fa-map-location-dot end-font"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-user end-font"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-gear end-font"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-power-off end-font"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
