<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 15px">
  <a class="navbar-brand" href="#">ARMYSENSE</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active" (click)="changePage('livemonitor')">
        <a class="nav-link">Live Monitoring</a>
      </li>
      <li class="nav-item" (click)="changePage('dronepatrol')">
        <a class="nav-link">Drone Patrol</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Settings</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav2">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-map-location-dot"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-user end-font"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-gear end-font"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-power-off end-font"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
