.end-font{
    font-size: 25px;
    /* padding: 0 20px;
    margin: 0 -20px; */
}

.navbar-expand-lg .navbar-collaps-2 {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-start;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
  }

.nav-link{
    cursor: pointer !important;
    text-transform: uppercase;
}

.nav-link:hover {
    background-color: #555; /* Change to the desired highlight color */
    color: #fff; /* Change text color if needed */
  }

.icon-side{
    width: 25px;  /* Adjust the size as needed */
    height: 25px; /* Adjust the size as needed */
  }

  .icon-side-2{
    width: 20px;  /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
  }