.custom-snackbar {
  background-color: #4caf50; /* Green background color */
  color: white; /* White text color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}