<h3>Create Layer</h3>
<form [formGroup]="formGroup" (ngSubmit)="onSaveClick()">
  <div class="form-group">
    <label for="layerName">Layer Name:</label>
    <input
      type="text"
      class="form-control"
      formControlName="layerName"
      placeholder="Enter layer name"
      [ngClass]="{'is-invalid': formGroup.get('layerName')?.invalid && formGroup.get('layerName')?.touched}"
    />
    <div *ngIf="formGroup.get('layerName')?.invalid && formGroup.get('layerName')?.touched" class="invalid-feedback">
      Layer name is required.
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" formControlName="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="secretLevel">Secret Level</label>
    <select class="form-select" id="secretLevel" formControlName="secretLevel">
      <option value="Normal">Normal</option>
      <option value="High">High</option>
      <option value="Very High">Very High</option>
    </select>
  </div>
  <br>
  <h4>Layer Type</h4>
  <div class="form-group">
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="radioStatic"
        formControlName="layerType"
        value="Point"
        name="layerType"
        (change)="onChange('Point')"
      />
      <label class="form-check-label" for="radioStatic"> Static Point </label>
    </div>
  </div>
  <div class="form-group">
    <label for="poiType"></label>
    <select class="form-select form-wd-3" formControlName="poiType">
      <option value="standard-poi">Standard POI</option>
    </select>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="radioDynamic"
        formControlName="dynamic"
        value="Dynamic"
        name="layerType"
        
        (change)="onChange('Dynamic')"
      />
      <label class="form-check-label" for="radioDynamic"> Dynamic Point </label>
    </div>
  </div>
  <div class="form-group">
    <label for="poiType"></label>
    <select class="form-select form-wd-3" formControlName="poiType" >
      <option value="mobile-device">Mobile Device</option>
    </select>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="radioPolygon"
        formControlName="layerType"
        value="Polygon"
        name="layerType"
        (change)="onChange('Polygon')"
      />
      <label class="form-check-label" for="radioPolygon"> Polygon </label>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="radioPolyline"
        formControlName="layerType"
        value="LineString"
        name="layerType"
        (change)="onChange('LineString')"
      />
      <label class="form-check-label" for="radioPolyline"> Polyline </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Save</button>
</form>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</mat-dialog-actions>
