/* add-layer.component.css */
.add-layer-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .form-check {
    margin-top: 10px;
  }
  
  .form-check-input {
    margin-right: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-secondary {
    background-color: #ad8dab;
    border: none;
  }
  
  .btn-primary {
    background-color: #4ea0da;
    border: none;
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  h3{
    color: #A4FEFF;
  }
  