.layer-table {
  width: 400px;
  color: #fff;
  background-color: #162528;
  border-collapse: collapse;
  height: calc(100vh - 180px);
}

.table-container {
  max-height: 750px; /* Adjust this value as needed */
  overflow-y: auto;
}

.layer-table table {
  width: 100%;
  max-height: 500px; /* Adjust this value as needed */
  overflow-y: auto;
}

thead {
  background-color: #4b5c6b;
  position: sticky;
  top: 0;
  z-index: 1;
}

.layer-table th,
.layer-table td {
  padding: 8px;
  text-align: left;
}

.layer-table thead {
  background-color: #162528;
  border-bottom: 1px #fff;
}

.layer-table tbody tr {
  background-color: #162528;
  border-bottom: 1px solid #fff;
}

.layer-table tbody tr:hover {
  background-color: #3a3a3a;
}

.layer-table tbody tr.selected {
  background-color: #4e5e5c; /* Highlight color */
}

.layer-name {
  display: flex;
  flex-direction: column;
}

.layer-zone {
  color: #00bcd4;
}

.layer-type {
  display: flex;
  flex-direction: column;
}

.layer-subtype {
  color: #aaa;
}

.edit-button {
  background: none;
  border: none;
  color: #00bcd4;
  cursor: pointer;
}

.edit-button[disabled] {
  /* background-color: #f0f0f0;  */
  color: #a0a0a0; /* Gray text for disabled button */
  cursor: not-allowed; /* Not-allowed cursor for disabled button */
}
.disabled {
  opacity: 0.5; /* Reduce opacity for faded effect */
  pointer-events: none; /* Disable click events */
}


.edit-button mat-icon {
  font-size: 20px;
}

.close-button {
  background: none;
  border: none;
  color: #ff5722;
  cursor: pointer;
}

.close-button mat-icon {
  font-size: 20px;
}


/* snack bar color */
::ng-deep .custom-snackbar {
  margin: 0 !important;
  position: absolute;
  right: 40%;
  top: 130px;
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}

::ng-deep.snackbar-success {
  border-radius: 8px;
  margin-top: 10%;
  --mdc-snackbar-container-color : #148c73
}

::ng-deep.snackbar-error {
  border-radius: 8px;
  --mdc-snackbar-container-color : #b72020
}