<nav id="sidebar" class="d-flex flex-column bg-dark text-white" style="height: 100% !important;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a  class="nav-link text-white " *ngIf="PageLive === appConst.LivePage || PageLive === appConst.DronePage">
          <img class="icon-side" src="assets/icons/map-marker.png" alt="Map Marker">
      </a>
    </li>
    <li class="nav-item">
      <a  class="nav-link text-white" *ngIf="PageLive === appConst.LivePage" (click)="openLastEvent()" (keydown.enter)="openLastEvent()">
        <img class="icon-side" src="assets/icons/system-task.png" alt="Map Marker">
      </a>
    </li>
    <li>
      <a class="nav-link text-white" *ngIf="PageLive === appConst.LivePage">
        <img class="icon-side" src="assets/icons/slider.png" alt="Map Marker">
      </a>
    </li>
    <li class="nav-item" *ngIf="PageLive === appConst.LivePage">
      <a class="nav-link text-white" (click)="openListLayer()" (keydown.enter)="openListLayer()">
        <img class="icon-side" src="assets/icons/layers.png" alt="Layers">
      </a>
    </li>
    <li *ngIf="PageLive === appConst.LivePage">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-clipboard"></i>
      </a>
    </li>
  </ul>
</nav>
