#sidebar {
  width: 60px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  cursor: pointer !important;
}

.nav-link i {
  font-size: 1.5rem;
  width: 30px;
  /* Add a fixed width to align the text properly */
  text-align: center;
  /* Center align the icon within the width */
  
}

.bg-g {
  background-color: #162528;
}

.icon-side{
  width: 30px;  /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
}

.nav-link:hover {
  background-color: #555; /* Change to the desired highlight color */
  color: #fff; /* Change text color if needed */
}