<nav id="sidebar" class="d-flex flex-column bg-dark text-white" style="height: calc(100vh - 64px) !important;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        <i class="fa-solid fa-desktop"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-map"></i>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="fa-solid fa-sliders"></i>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-layers"></i>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-clipboard"></i>
      </a>
    </li>
  </ul>
</nav>
